PORT=5000
MONGODB_URI=mongodb://localhost:27017/linkup
LINKUP_NS=linkup
# Generate a random secret using the command in README.md.
JWT_SECRET=

# Cloudflare R2 Integration
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_URL=
